@inject GlamCentral.Libraries.Login.LoginFuncionario funcionario
@model IndexViewModel

@{
    ViewData["Title"] = "Relatório de Clientes";
    var ordenacao = Context.Request.Query["ordenacao"];
    var status = Context.Request.Query["status"];
}
<div>
    <br />
    <br />
    <br />
    <h1 class="title-generic no-print">@ViewData["Title"]</h1>
    <br />

    <div class="only-print">
        <img style="margin-left: 400px;" src="~/img/Logo-GlamCentral (1).png" alt="glam-central" />
        <br />
        <br />
        <br />
        <form>
            <label for="fname">Razão Social: </label>
            <input asp-for="Empresa.RazaoSocial"><br />
            <label for="fname">CNPJ: </label>
            <input style="margin-left: 65px; " asp-for="Empresa.CNPJ"><br />
            <label for="fname">Contato: </label>
            <input style="margin-left: 40px; " asp-for="Empresa.Telefone"><br />
            
            <br />
            <br />

            <label for="fname">Gerador por: </label>
            <input style="margin-left: 5px; " value="@funcionario.GetFuncionario().Nome"><br />
            <label for="fname">Data: </label>
            <input style="margin-left: 65px; " value="@ViewBag.Data">

            <br />
            <br />
            <br />

            <h1 class="title-generic">@ViewData["Title"]</h1>

            <br />
        </form>
    </div>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <button onclick="window.print()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm no-print"><i class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório</button>
    </div>


    <div class="in-row">
        <div>
            <a>Ordenar por: </a>
            <select id="ordenacao" class="form-control ordenacao" asp-items="Model.Ordenacao"></select>
        </div>
        <div style="margin-left: 10px;">
            <a>Filtrar por: </a>
            <select id="status" class="form-control status" asp-items="Model.Status"></select>
        </div>
    </div>
    <br />

    @if (Model.Clientes.Count > 0)
    {

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-cabecalho">
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model.Clientes.First().Id)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Clientes.First().Nome)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Clientes.First().Telefone)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Clientes.First().CPF)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Cliente cliente in Model.Clientes)
                    {
                        <tr>
                            <th scope="row">@cliente.Id</th>
                            <td>@cliente.Nome</td>
                            <td>@cliente.Telefone</td>
                            <td>@cliente.CPF</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        /*<div type="hidden" class="no-print">
            @Html.PagedListPager((IPagedList)Model.Clientes, pagina => Url.Action("Index", new { pagina = 1, ordenacao = ordenacao }))
        </div>*/
    }
    else
    {
        <span>Nenhum registro cadastrado!</span>
    }

    <div>
        <a asp-action="Painel" asp-controller="Home" class="btn btn-primary btn-default btn-green no-print">Voltar</a>
    </div>
</div>
