@model GlamCentral.Models.Produto

<h2>Produto</h2>
<b>Id: </b>@Model.Id<br />
<b>Name: </b>@Model.Nome<br />
<b>Weight: </b>@Model.Peso<br />
<b>TypeWeight: </b>@Model.TipoPeso<br />
<b>Status: </b>@Model.Status<br />
<br />