@model GlamCentral.Models.Agenda
@{
	ViewBag.Title = "Agenda";
}

<br />
<br />
<br />

<div id="calender"></div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div>
					<h4 class="modal-title"><span id="eventTitle"></span></h4>

				</div>
				<div>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<button id="btnDelete" class="btn btn-secondary btn-red btn-sm pull-right">
					<span class="glyphicon glyphicon-remove"></span> Excluir
				</button>
				<button id="btnEdit" class="btn btn-secondary btn-orange btn-sm pull-right" style="margin-right:5px;">
					<span class="glyphicon glyphicon-pencil"></span> Editar
				</button>
				<p id="pDetails"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-btn-light-green" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div>
					<h4 class="modal-title">Salvar</h4>
				</div>
				<div>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
			<div class="modal-body">
				<form asp-controller="Agenda" asp-action="Cadastrar" method="post" class="col-md-12 form-horizontal">
					@Html.AntiForgeryToken()
					<input type="hidden" id="hdEventID" value="0" />
					<div class="in-row">
						<div>
							<label>Data: </label>
							<input for="Start" type="text" id="txtStart" class="form-control" />
							<span asp-validation-for="Start" class="text-danger"></span>
						</div>
						<div>
							<label>Horas: </label>
							<select id="Dthoras" class="form-control" asp-items="@ViewBag.Horas">
							</select>
						</div>
						<div>
							<label>Minutos: </label>
							<select id="Dtminutos" class="form-control" asp-items="@ViewBag.Minutos">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label asp-for="FuncionarioId"></label>
						<select asp-for="FuncionarioId" class="form-control" id="funcionarioSelected" asp-items="@ViewBag.Funcionarios">
							<option value="">Selecione ...</option>
						</select>
						<span asp-validation-for="FuncionarioId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ClienteId"></label>
						@*<button type="submit" style="margin-left: 400px;" asp-action="ListagemClientes" asp-controller="Agenda" class="btn btn-primary btn-default btn-green">Selecionar cliente</button>*@
						<select asp-for="ClienteId" class="form-control" id="clienteSelected" asp-items="@ViewBag.Clientes">
							<option value="">Selecione ...</option>
						</select>
						<span asp-validation-for="ClienteId" class="text-danger"></span>
					</div>
					<div class="in-row">
						<div>
							<label asp-for="ProcedimentoId"></label>
							<select asp-for="ProcedimentoId" class="form-control" id="procedimentoSelected" onchange="duracao()" asp-items="@ViewBag.Procedimentos">
								<option value="">Selecione ...</option>
							</select>
							<span asp-validation-for="ProcedimentoId" class="text-danger"></span>
						</div>
						<div>
							<label>Horas: </label>
							<select id="horasDuracao" class="form-control" asp-items="@ViewBag.HorasDuracao">
							</select>
						</div>
						<div>
							<label>Minutos: </label>
							<select id="minutosDuracao" class="form-control" asp-items="@ViewBag.MinutosDuracao">
							</select>
						</div>
						@*<div class="checkbox">
						<label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Dia todo </label>
						</div>*@
					</div>

					<div class="form-group">
						<label>Descrição</label>
						<textarea id="txtDescription" rows="3" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<label>Cor</label>
						<select id="ddThemeColor" class="form-control">
							<option value="">Padrão</option>
							<option value="#F5AD98">Laranja</option>
							<option value="#00DB78">Verde</option>
							<option value="#FFF261">Amarelo</option>
						</select>
					</div>
					<button type="button" id="btnSave" class="btn btn-success">Salvar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				</form>
			</div>
		</div>
	</div>
</div>

<partial name="_AgendaImports.cshtml" />
